.header {
    margin-top: 0;
  height: 60px;
  width: 100%;
  color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
  box-sizing: border-box;
  box-shadow: 1px -2px 2px 2px #000000eb;;
}

.logo {
  margin: 0;
  font-size: 20px;
}

.darkText {
  font-size: 14px;
  cursor: pointer;
}
