.filterByRegion {
    width: 250px;
    padding: 9px;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--elements-color);
    color: var(--text-color);
    /* font-family:  sans-serif; */
}
