*{
    margin: 0;
    padding: 0;
    font-family: 'Poopins',sans-serif;
    background-color: rgb(234, 229, 229);
    /* color: white; */
}

.search-filter-container {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}